<div class="container-fluid footer" style="padding: 0">
  <div class="container footer-container">
    <div class="row" style="margin-bottom: 100px">
      <div class="col" style="margin-right: 15%"><h2>Contactame</h2></div>
      <div class="col">
        <p>Email</p>
        <p>Jfalquezr@gmail.com</p>
      </div>
      <div class="col">
        <p>Telefono</p>
        <p>+573004063321</p>
      </div>
      <div class="col"><p>LinkedIn</p>
    <a href="https://www.linkedin.com/in/julian-falquez-b2a3b9215/"><img src="../../assets/img/linkedin-icon-18-256.png" style="max-width:50px;height:auto"/></a></div>
    </div>
    <HR style="color:antiquewhite">
    <h1 style="font-size:2.5vw">JF</h1>
  </div>
</div>
