.proyectos {
  background-color: #b1c0cb;
}

.h1-proyectos {
  font-size: 72px;
  color:#425AA6
}
h2 {
  font-size: 40px;
}

ul {
  list-style-type: none;
}
li{
    float: left;
}
li img {
    display: block;

  }

.carta{
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 0 60px #0000007a;
}

@media only screen and (max-width:768px){
  h2 {
    font-size: 35px;
  }

 }
