<div class="hero-container">
  <div class="texto-container">
    <div class="titulos">
    <h1>JULIAN FALQUEZ</h1>
    <h2>Web Developer</h2>
    </div>
    <div class="info">
      <div class="dupla">
        <mat-icon>code</mat-icon>
        <p>Javascript, Python, Java</p>
      </div>
      <div class="dupla">
        <mat-icon>mail</mat-icon>
        <p>jfalquezr@gmail.com</p>
      </div>
      <div class="dupla">
        <mat-icon>fmd_good</mat-icon>
        <p>Colombia</p>
      </div>
    </div>
  </div>
  <img
    [src]="isdesk ? fondodeskURL : fondomovURL"
    alt="coding gif"
    class="codingGif"
  />
</div>
