<div
  style="
    margin-top: -15px;
    background-color: white;
    position: relative;
    text-align: center;
  "
>
  <img src="../../assets/img/Vector.png" class="vector" alt="vector" />
  <div
  data-aos="fade-up"
    style="
      display: flex;
      flex-direction: column;
      margin: 20px 15% 0px 15%;
      align-items: center;
    "
  >
    <div style="display: flex; flex-direction: row;justify-self: center;align-items: center;max-width: 1000px;" class="wrap">
      <div style="width: 50%; min-width: 350px; margin-right: 10%;">
        <h1 class="h1-aboutme" style="margin-top: -10vh;text-align: left;">Sobre mi</h1>
        <h2 style="font-size: 1.5vw; margin-top: 0">Hola soy Julian,</h2>
        <p>
          Soy un ingeniero de sistemas y computación actualmente viviendo en
          Colombia. Me dedico a la creación de aplicaciones web, con un enfoque
          en la creación de websites rápidos y responsivos.<br /><br />
          En cuanto a Front-end poseo conocimientos de HTML,CSS,Javascript que
          he implementado en diferentes proyectos utilizando tanto ReactJS como
          Angular. <br /><br />
          En la parte de Back-end he tenido experiencia en proyectos con NodeJS utilizando el framework Express y en proyectos de data science donde he trabajdo con Pyton.
        </p>
      </div>
      <div class="skills" style="margin-top: -5vh;">
        <p>Javascript</p>
        <img
          src="../../assets/img/Frame 6.png"
          class="vector"
          alt="skill_java"
        />
        <p>HTML/CSS</p>
        <img
          src="../../assets/img/Frame 7.png"
          class="vector"
          alt="skill_html"
        />
        <p>Angular</p>
        <img src="../../assets/img/Frame 8.png" class="vector" alt="angular" />
        <p>ReactJS</p>
        <img
          src="../../assets/img/Frame 9.png"
          class="vector"
          alt="skill_react"
        />
        <p>Backend</p>
        <img src="../../assets/img/Frame 10.png" class="vector" alt="back" />
      </div>
    </div>
  </div>
</div>
